:host{
  position: relative;
  cursor: grab;
  --knob-angle: 0deg;
}

#zoom-pedal {
  transform-origin: 0 0;
}

.stomp-btn {
 transform: translate(50px, 360px);
}
.push-area {
  cursor: pointer;
}

/*.potentiometer {*/
/*  transform: translate(75px, 44px);*/
/*}*/
#rotating {
  stroke: #979797;
  fill: #FFFFFF;

  transform-origin: 18% 8%;
  transform: rotate(var(--knob-angle));
}
.hide-input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.knob {
  stroke: #464648;
  fill: #121117;
}
.hide-input:focus + .knob {
  stroke: red;
}
